<nav>
    <ul class="main-menu">
        <li><a href="/" {% if page.bodyid == "about" %}class="active"{% endif %}>About</a></li>
        <li><a href='/portfolio/' {% if page.bodyid == "portfolio" %}class="active"{% endif %}>Portfolio</a></li>
<!--         <li><a href='/cv/' {% if page.bodyid == "cv" %}class="active"{% endif %}>CV</a></li> -->
       <!--  <li><a href='/blog/' {% if page.bodyid == "blog" %}class="active"{% endif %}>Blog</a></li> -->
        <li><a href="/contact/" {% if page.bodyid == "contact" %}class="active"{% endif %}>Contact</a></li>
    </ul>
</nav>
