.site-header
	font-size: 40px
	text-align: center

	.name
		color: #00798c
		display: block
	@media screen and (max-width: 768px)
		font-size: 20px
		font-size: 8.5vw
		position: fixed
		top: 0
		width: 100%
		z-index: 6

body
	background: #f0f3f5
	font-family: sans-serif