body
    background: #f0f3f5
    font-family: sans-serif

.container
    font-size: 20px
    margin: 0 auto
    line-height: 34px
    max-width: 1000px
    position: relative

    ul
        list-style-type: none

#cv
    height: 1000px