body
    background: #f0f3f5
    font-family: sans-serif

.container
    font-size: 20px
    margin: 0 auto
    line-height: 34px
    max-width: 1000px
    position: relative

    @media screen and (max-width: 768px)
        left: 0
        top: 26%
        width: 100%
        min-width: 100%
        padding: 0 20px
        box-sizing: border-box
        font-size: 8.5vw
ul
    list-style-type: none
p
    margin: 0