.project-heading
    text-decoration: underline

.project-description
    margin-left: 30px

.skill-list
    margin-left: -10px
    li
        display: inline
        margin-right: 10px
        font-size: 20px
        padding: 10px 20px
        width: 70px
        text-align: center
        background: #5b9279
