#work,
#personal

    .project-description
        margin:
            bottom: 20px
            left: 30px

    .skill-list
        margin-left: -10px
        li
            background: #5b9279
            display: inline
            font-size: 20px
            margin-right: 10px
            padding: 10px 20px
            text-align: center
            width: 70px

    .level-2
        margin-left: 50px

    .level-3
        margin-left: 100px