nav
    margin: 0 auto
    text-align: center

.main-menu
    list-style-type: none
    li 
        display: inline

        a
            border-radius: 10px
            color: #c5d86d
            display: inline-block
            font-size: 20px
            margin-right: 10px
            padding: 10px 20px
            text-align: center
            text-decoration: none
        a:hover
            color: #00798c
    .active
        color: #000000
       